<!doctype html>
<html lang="en">

<head>
    <title>
        <%= tituloWeb %>
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carousel.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary mb-5 text-white">
        <div class="container-fluid">
          <b class="navbar-brand">Pokepedia</b>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-md-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                Tu lugar para guardar los pokémon que hayas conseguido a lo largo de tu aventura como entrenador.
              </li>
            </ul>
          </div>
        </div>
      </nav>