<%- include("template/cabecera",{tituloWeb:"Pokepedia"}) %>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>
                    <%= tituloBienvenida %>
                </h2>
                <p>Aquí podrás encontrar entrenadores que como tu están recorriendo el mundo buscando Pokémon y viviendo fantásticas aventuras. 
                    Ayudanos a rellenar nuestra Pokedex en Pokepedia. Construyamos entre todos un lugar en el que podamos compartir nuestro conocimiento, trucos y conocernos.</p>
            </div>
        </div>
        <div class="row mt-3 text-center mt-4">
            <div class="col-3"></div>
            <div class="col-3 bg-secondary bg-gradient border border-secondary py-3">
                <a href="/pokemon" class="sinEstilo text-white">Pokémon</a>
            </div>
            <div  class="col-3 bg-secondary bg-gradient border border-secondary py-3">
                <a href="/entrenador" class="sinEstilo text-white">Entrenadores</a>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-1">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center"><img class="rounded" src="/img/entrenadores.png"></div>
        </div>
    </div>

    <footer class="text-center text-lg-start bg-light text-muted mt-5 py-2">

        <!-- Section: Links  -->
        <section>
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Pokepedia
                </h6>
                <p>
                  Almacena los pokémon que hayas conseguido a lo largo de tu aventura como entrenador.
                </p>
              </div>
  
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Productos
                </h6>
                <p>
                  <a href="#!" class="text-reset">Pokémon Rojo Fuego</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Pokémon Verde Hoja</a>
                </p>
              </div>
  
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Páginas relacionadas
                </h6>
                <p>
                  <a href="https://www.pokemon.com/es/" class="text-reset">Página oficial Pokemon</a>
                </p>
                <p>
                  <a href="https://www.uniminutoradio.com.co/25-anos-de-pokemon-25-datos-curiosos/" class="text-reset">Curiosidades</a>
                </p>
              </div>
  
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Contacto
                </h6>
                <p> poke@pedia.com</p>
                <p> @pokepedia</p>
              </div>
            </div>
          </div>
        </section>
  
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2022 Copyright: Pokepedia
        </div>
      </footer>
        
      <!-- Bootstrap JavaScript Libraries -->
      <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
  </html>