<%- include("template/cabecera",{tituloWeb:"Inicio"}) %>

    <div class="container">
        <div class="row">
            <div class="col-12 py-5 text-center">
                <h2>
                    <%= titulo %>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form id="formulario" action="/bienvenida">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre: </label>
                        <input type="text" class="form-control" id="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="contrasena" class="form-label">Contraseña: </label>
                        <input type="password" class="form-control" id="contrasena" required>
                    </div>
                    <br>
                    <button class="w-100 btn btn-success btn-lg" type="submit">Iniciar Sesión</button>
                </form>
                <br>
                <a href="/contacto">Únete a nuestra comunidad</a>
            </div>
        </div>
    </div>
    <%- include("template/footer") %>

    